
body{
    margin: 0px;
    padding: 0px;
    background: #f5f5f5;
}

*{
    transition-duration: 0.8s;
}

header{
    position: relative;
    padding:20px;    
    background: #3dcfea;
    display: block;
    width: 100%;
}

header img{
    width: 130px;
}

nav{
    width: 100%;
    display: block;
    margin: 0px;
    background: #4894cc;
    height: 60px;
    margin-bottom: 20px;
}

nav ul{
    margin: 0px;
    padding: 0px;    
}

nav ul li {
    list-style-type: none;
    float: left;
    width: auto;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

nav ul li a{
    color: #fff;
}

main,aside{
    background: #fff;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #e2dddd;
}

aside{
    margin-bottom: 10px;
}

main{
    height: 700px;
}

footer{
    min-width: 130px;
    background: #c1c1c1;
    padding: 20px;
    margin-top: 20px;
}
